<app-navbar></app-navbar>


<!-- Título da página-->
<div class="uk-container"> <h1 class="ul-heading-large" style="margin-bottom:24px; margin-top: 24px;"> Nossso porfólio</h1>
 <h3>Desenvolvimento Web e Programação</h3>
</div>


<div class="uk-grid-small uk-child-width-expand@s uk-text-center" style="margin-top:2%" uk-grid>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
</div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center" style="margin-top:2%" uk-grid>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
</div>

<div class="uk-container" style="margin-top: 5%">
  <h3>Streaming e Produção Audiovisual</h3>
 </div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center" style="margin-top:2%" uk-grid>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
</div>


<div class="uk-grid-small uk-child-width-expand@s uk-text-center" style="margin-top:2%" uk-grid>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
</div>

<div class="uk-container" style="margin-top: 5%;">

  <h3>Infraestruturas de TI</h3>
 </div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center" style="margin-top:2%" uk-grid>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
  <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
  </div>
</div>

<app-footer></app-footer>
