<app-navbar></app-navbar>

<!-- Título da página-->
<div class="uk-container"> <h1 class="ul-heading-large" style="margin-bottom:24px; margin-top: 24px;">Conheça os nossos serviços</h1> </div>

<!--Slider-->
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 400; animation: pull; autoplay: true">

  <ul class="uk-slideshow-items">

    <li><img src='/assets/slide-fluxodigital-2.png' alt='' uk-cover /> </li>

  </ul>

  </div>
<!-- -->
<div class="uk-container">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class=icone><span uk-icon="icon: world; ratio: 2"></span></p>
            <h2 class="">Desenvolvimento Web e Programação</h2>
            <h3><b>1. Criação de Websites</b> </h3>
            <img src="/assets/servicos/web-development.png" class="uk-border-rounded" alt="">
            <p>Criação de Websites estáticos e responsivos e documentos no ambiente Web </p>
            <button routerLink="/contacto" class=" uk-border-pill uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b> 2. Criação de Websites de comércio Electrónico </b></h3>
            <img src="/assets/servicos/e-commerce.png" class="uk-border-rounded" alt="">
            <p>Ajudamos você a criar sua presença online e alavancar o seu negócio </p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b> 3. Criação de Aplicativos(APPs)</b></h3>
            <img src="/assets/servicos/desenvolvimento-app.png" class="uk-border-rounded" alt="">
            <p>Dámos vida à sua ideia! Transformamos desejos em realidades, seja um projeto para sua startup ou para um negócio consolidado</p>
            <button routerLink="/contacto" class=" uk-border-pill uk-button-danger uk-text-center uk-button-large">PEDIR</button>
          </div>

    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: play-circle; ratio: 2"></span></p>
            <h2 class="">Audiovisual e Streaming</h2>
            <h3><b>1.Live Streaming</b></h3>
            <img src="/assets/servicos/live-streaming.png" class="uk-border-rounded" alt="">
            <p>Transmissão ao vivo de eventos para diferentes canais ou plataformas </p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
              <h3><b>1. Videoconferências e Eventos Híbridos</b></h3>
              <img src="/assets/servicos/videoconferencia.png" class="uk-border-rounded" alt="">
            <p>Venda de equipamentos, montagem e realização de videocoferência de todos os formatos</p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
              <h3><b>2. Produção Audiovisual</b></h3>
              <img src="/assets/servicos/audiovisual.png" class="uk-border-rounded" alt="">
            <p>Elaboramos e executamos projectos audiovisuais desde a Pré-Produção à Pós-Produção. Produzimos spot publicitários, documentários, reportagens, filmes etc. </p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b>3. Design Gráfico</b></h3>
              <img src="/assets/servicos/design-grafico.png" class="uk-border-rounded" alt="">
            <p>Criação de projetos gráficos para publicações, anúncios e vinhetas de TV e internet, visual de jornais, revistas, livros, panfletos, anúncios e outdoors, logotipos para marcas, etc. </p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b>4. Marketing Digital</b></h3>
              <img src="/assets/servicos/marketing-digital.png" class="uk-border-rounded" alt="">
            <p>Criamos, impulsionamos e promovemos Anúncios no Facebook, Instagram, Youtube e Google (Motor de Busca)</p>
            <button routerLink="/contacto"  class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
        </div>


    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: server; ratio: 2"></span></p>
            <h2 class="">Gestão de Infraestruturas de TI</h2>
            <h3><b>1. Ligações ponto-a-ponto</b></h3>
            <img src="/assets/servicos/point-to-point.png" class="uk-border-rounded" alt="">
            <p>Desenhamos e implementamos infraestruturas de trasporte de sem-fio para todos fins e propósitos</p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b>2. Redes estruturadas</b></h3>
            <img src="/assets/servicos/redes-estruturadas.png" class="uk-border-rounded" alt="">
            <p>Desenhamos, instalamos e configuramos redes estruturadas de todos portes</p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
            <h3><b>3. Configuração e administração de servidores</b></h3>
            <img src="/assets/servicos/servidores.png" class="uk-border-rounded" alt="">
            <p>Provisionamos, configuramos e gerenciamos servidores e oferecemos suporte</p>
            <button routerLink="/contacto" class="uk-border-pill  uk-button-danger uk-text-center uk-button-large">PEDIR</button>
        </div>
    </div>
</div>
    </div>

<app-footer></app-footer>
