.uk-slideshow-items {

max-height:max-content;
height: 10px;
align-items: center;
viewport-fit: contain;

;}


@media (max-width: 768px) {
  .slideshow {
    width: 100%;
  }
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
  object-fit: fill;
  height: 100px;
}

@media (max-width: 768px) {
  .slideshow .prev,
  .slideshow .next {
    display: none;
  }
}
