<!-- <div uk-slideshow=" min-height: 10px; max-height: 300px; autoplay: true; center: true; controls: false;" class="uk-height-viewport">
  <ul class="uk-slideshow-items">
    <li><img src="/assets/slide-fluxodigital-1.png" width="100%" height="100%" alt="" object-fit="cover" /> </li>
    <li><img src="/assets/slide-fluxodigital-2.png" width="100%" height="100%" alt="" object-fit="cover" /> </li>
    <li><img src="/assets/slide-fluxodigital-3.png" width="100%" height="100%" alt=""  object-fit="cover" /> </li>
  </ul>
</div> -->

<div class="uk-position-relative uk-light uk-flex uk-flex-center uk-flex-middle" uk-slideshow="animation: push; autoplay: true; autoplay-interval: 3000;">

  <ul class="uk-slideshow-items uk-text-center uk-width-1-1 uk-position-cover">
    <li>
      <img class="uk-border-rounded" src="/assets/slide-fluxodigital-1.png" alt="">
    </li>
    <li>
      <img class="uk-border-rounded" src="/assets/slide-fluxodigital-2.png" alt="">
    </li>
    <li>
      <img class="uk-border-rounded" src="/assets/slide-fluxodigital-3.png" alt="">
    </li>
  </ul>

</div>
