<app-navbar></app-navbar>

<div class="uk-container"> <h1 class="ul-heading-large" style="margin-bottom:24px; margin-top: 24px;">Quem somos?</h1> </div>

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 400; animation: pull; autoplay: true">

  <ul class="uk-slideshow-items">
    <li><img src='/assets/slide-fluxodigital-4.png' alt='' uk-cover /> </li>
  </ul>

  </div>

  <div class="uk-container" style="margin-top:5%">
  <h3>Somos uma empresa angolana fundada sobre os novos paradigmas lógica humana e das tecnologias de informação e comunicação.</h3>

  <h3 class="uk-text-justify" style="margin-top: 5%;">A Fluxodigital foi fundada em 2017. Por ocasião da sua fundação a Fluxodigital incorporou duas marcas préxistentes, nomeadamente a Skit Company Records e Soundport</h3>
  <h3 class="uk-text-justify">No âmbito da sua reestruturação a Fluxodigital participou e concluiu o programa de aceleração de negócios promovito pela Unitel denominado <b>FEMTECH</b></h3>
  <h3 class="uk-text-justify">Em 2022 a FLuxodigital passou por um processo de rebranding e reestruturação administritiva. Com uma aposta forte no talento nacional jovem a Fluxodigital tem como um dos seus principais objectivos: <b> a prestação de serviço com qualidade de nível internacional, por meio de mão-de-obra nacional e com um alcance global. </b></h3>
</div>


<div class="uk-container" style="margin-top: 5%;">


  <div style="margin-top: 2;">
  <img src="/assets/fluxodigital-10.jpg" style="margin:24px; inline-block; position: relative; height:200px; width:auto" class="uk-border-rounded">
  <img src="/assets/fluxodigital-9.png" style="margin:24px; inline-block; position: relative; height:200px; width:auto" class="uk-border-rounded">
  <img src="/assets/fluxodigital-12.jpg" style="margin:24px; inline-block; position: relative; height:200px; width:auto" class="uk-border-rounded">
  <div class="">

<h3 class="uk-text-justify" style="margin-top: 5%;"> A Fluxodigital existe para responder às necessidades críticas do país no que a tecnologia diz respeito. Para o alcance deste desiderato a Fluxodigital dá preferência à marcas de grande reputação e hardware confiável firmando parcerias de fornecimento com empresas idóneas numa escala global.</h3>
</div>


  </div>
</div>

<div class="uk-container">

  <h3 style="margin-top: 5%;" class="uk-text-center">Fazemos parte de um ecossistema de dimensão global</h3>
  <p class="uk-text-center">Várias companhias e tecnlogias concorrem para a entrega segura dos nossos serviços</p>

  <div class="uk-grid-collapse uk-child-width-1-5@s uk-text-center" uk-grid>
    <div>
        <div class="uk-background-secondary uk-padding"><img src="assets/fornecedores/kato-vision.jpg"> </div>
    </div>
    <div>
        <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/telestream.jpg"></div>
    </div>
    <div>
        <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/hopin.jpg"></div>
    </div>
    <div>
      <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/sony.jpg"></div>
  </div> <div>
    <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/hollyland.jpg"></div>
</div>
<div>
  <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/microsoft.jpg"></div>
</div>
<div>
  <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/angular.jpg"></div>
</div>
<div>
  <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/uikit.jpg"></div>
</div>
<div>
  <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/brixly.jpg"></div>
</div>
<div>
  <div class="uk-background-secondary uk-padding uk-light"><img src="assets/fornecedores/cpanel.jpg"></div>
</div>
</div>

</div>

<app-footer></app-footer>
