<app-navbar></app-navbar>
<div class="uk-container"> <h1 class="ul-heading-large" style="margin-bottom:24px; margin-top: 24px;">Junta-te à nossa equipa</h1> </div>
<app-slider></app-slider>

<div class="uk-container" style="margin-top:25%">
  <h3>Candidate-se a uma vaga de trabalho em nossa empresa. O nosso pocesso de recrutamento e selecção é rápido e simples</h3>
  </div>


  <div class="uk-container" style="margin-top:auto ;">
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
      <div>
          <div class="uk-card uk-card uk-card-body">
              <h2 class="">Assistente Administrativa</h2>
              <img src="/assets/vagas/assistente-administrativa.png" class="uk-border-rounded" alt="">
              <p class="uk-text-justify"> Compreende as tarefas e funções de secretário administrativo e executivo </p>
              <a href="https://bit.ly/recrutamento-admin-assist"><button  class=" uk-border-pill uk-button-danger uk-text-center uk-button-large">CANDIDATAR-SE</button></a>

            </div>

      </div>
      <div>
          <div class="uk-card uk-card uk-card-body">
              <h2 class="">Técnico de Multimedia</h2>
              <img src="/assets/vagas/tecnico-multimedia.png" class="uk-border-rounded" alt="">
              <p class="uk-text-justify">Compreende as tarefas e funções do programador Web e de multimédia </p>
              <a href="https://bit.ly/recrutamento-tech-multimedia"><button  class=" uk-border-pill uk-button-danger uk-text-center uk-button-large">CANDIDATAR-SE</button></a>
                 </div>


      </div>

  </div>
      </div>

<app-footer></app-footer>
