<app-navbar></app-navbar>
<app-slider></app-slider>


<div class="uk-container">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class=icone><span uk-icon="icon: world; ratio: 2"></span></p>
            <h3 class="uk-card-title">Desenvolvimento Web e Programação</h3>
            <p>- Criacao de Websites <br> - Criação de Websites de comércio Electrónico <br> - Criacao de Aplicativos(APPs) </p>
        </div>
        <button class="uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: play-circle; ratio: 2"></span></p>
            <h3 class="uk-card-title">Audiovisual e Streaming</h3>
            <p> - LiveStreaming e Videoconferências Produção AudioVisual (Filmes, spots, documentaries, shorts)
              <br> -  Designgrafico <br> - Gestao de redes sociais
            </p>
        </div>

          <button class="uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: server; ratio: 2"></span></p>
            <h3 class="uk-card-title">Gestão de Infraestruturas de TI</h3>
            <p> - Ligações ponto-a-ponto <br> - Redes estruturadas <br> - Configuração e administração de servidores</p>
        </div>

        <button class="uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
</div>
    </div>

<!-- Vídeo  -->
<div class="uk-container">
  <h1 class="uk-heading-small uk-text-center" style="padding-top: 8px;">Somos confiados por quem busca por Excelência</h1>
<h3 class="uk-text-center">Veja alguns casos de sucesso</h3>
</div>


<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
  <div>
      <div class="uk-background-muted uk-height-large uk-padding">

        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RV59FNE9a1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
  </div>

  <div>
      <div class="uk-background-muted uk-height-large uk-padding uk-light">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S5bJba9Awd4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
</div>

<!-- Nossos clientes -->


<div class="uk-container" style="padding-top: 24px;">
    <h3 class="uk-text-center">Conheça alguns dos nossos clientes</h3>
<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-medium-top" uk-grid>
  <div>
      <div class="uk-background uk-padding"><img src="/assets/clientes/cliente-1.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-2.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-3.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-4.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-5.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-6.png" alt=""></div>
</div>



</div>

<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center " uk-grid>
  <div>
      <div class="uk-background uk-padding"><img src="/assets/clientes/cliente-7.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-8.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-9.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-10.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-11.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-12.png" alt=""></div>
</div>
</div>

</div>


<!-- Nossos parceiros -->

<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-small-top" uk-grid>
  <div class=" uk-padding">
  <p class="uk-text-center texto">Faça a escolha mais acertada e junta-te à outras organizações que optaram pela excelência</p>
<p class="uk-text-center"><button class="uk-button-danger uk-button-default uk-button-large">CONTRATE-NOS</button></p>
</div>
</div>




<app-footer></app-footer>
