<app-navbar></app-navbar>
<app-slider></app-slider>


<div class="uk-container" style="margin-top: 22%;">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class=icone><span uk-icon="icon: world; ratio: 2"></span></p>
            <h3 class="uk-card-title"><b>Desenvolvimento Web e Programação</b></h3>
            <p>- Criação de Websites <br> - Criação de Websites de comércio Electrónico <br> - Criação de Aplicativos(APPs) </p>
        </div>
        <button routerLink="/servicos" class="uk-border-pill uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: play-circle; ratio: 2"></span></p>
            <h3 class="uk-card-title"><b>Audiovisual e Streaming</b></h3>
            <p> - Live Streaming e Videoconferências Produção AudioVisual (Filmes, spots, documentários, shorts -films)
              <br> -  Design gráfico <br> - Gestão de redes sociais
            </p>
        </div>

          <button routerLink="/servicos" class="uk-border-pill uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
    <div>
        <div class="uk-card uk-card uk-card-body">
          <p class="icone"><span uk-icon="icon: server; ratio: 2"></span></p>
            <h3 class="uk-card-title"><b>Gestão de Infraestruturas de TI</b></h3>
            <p> - Ligações ponto-a-ponto <br> - Redes estruturadas <br> - Configuração e administração de servidores</p>
        </div>

        <button routerLink="/servicos" class="uk-border-pill uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
</div>
    </div>

<!--Hospedagem-->


<div class="uk-container uk-margin-large-top">
  <p class="uk-text-center"><span uk-icon="icon: cloud-upload; ratio: 3.5"></span><span uk-icon="icon: server; ratio: 3.5"><span uk-icon="icon: database; ratio: 3.5"></span></span> </p>
  <h1 class="uk-heading-small uk-text-center" style="color:#F0506E"><b>HOSPEDAGEM WEB ILIMITADA</b></h1>
<h3 class="uk-text-center">Temos a melhor Hospedagem Web com <b>cPanel</b> e Plataforma <b>NVMe</b> em Núvem premiada  </h3>
<p class="uk-text-center">Conheça os nossos Pacotes SOFT de Hospedagem desenhados para todos os bolsos</p>

</div>


<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top uk-match-height-all" uk-grid>
  <div>
      <div class="uk-background-muted uk-padding ">

        <h3 class="uk-text-center"><b>Soft Básico</b></h3>
        <p>10 GB Espaço em SSD <br> 30 GB Tráfego Mensal <br> 5 Contas de Email <br> 3 Bases de dados <br> <b>a partir de 18.000 Kz/ano</b></p>
        <a href="https://softechost.com/cart.php?a=add&pid=2" target="_blank"><button class="uk-button uk-button-danger uk-button-default uk-border-pill" >SOLICITAR AGORA</button> </a>

        <h3><b>Soft Clássico</b></h3>
        <p>30 GB Espaço em SSD <br> 50 GB Tráfego Mensal <br> 30 Contas de Email <br> 6 Bases de dados<br><b>a partir de 30.000 Kz/ano</b>
        </p>
        <a href="https://softechost.com/cart.php?a=add&pid=5" target="_blank"><button  class="uk-button uk-button-danger uk-button-default uk-border-pill" >SOLICITAR AGORA</button></a>


        <h3><b>Soft Ilimitado</b></h3>
        <p>Espaço em SSD <br> Tráfego Mensal Ilimitado <br> Contas de Email Ilimitadas <br> 50 Bases de dados <b><br> partir de 18.000 Kz/ano</b></p>
        <a  href="https://softechost.com/cart.php?a=add&pid=5" target="_blank"><button routerLink="https://softechost.com/cart.php?a=add&pid=5" class="uk-button uk-button-danger uk-button-default uk-border-pill">SOLICITAR AGORA</button></a>



      </div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><h3 style="color:#F0506E">Serviço oferecido em parceria com a <a style="color: black;" href="https://softechost.com/">SoftecHost</a></h3></div>
      <img class="uk-padding" src="/assets/cpanel_banner.png" alt="" style="paddin">
      <a href="https://softechost.com/"><button class="uk-button uk-button-danger uk-button-medium uk-border-pill uk-button-priary margin-large-top">VER MAIS DETALHES</button></a>
    </div>
</div>

<!-- Domínios-->
<div class="uk-container uk-margin-large-top">
  <p class="uk-text-center"><span uk-icon="icon: world; ratio: 3.5"></span> </p>
  <h1 class="uk-heading-small uk-text-center" style="color:#F0506E"><b>REGISTO DE DOMÍNIOS WEB</b></h1>
  <h3 class="uk-text-center">Encontre o seu novo nome de domínio </h3>
  <img src="/assets/domains.webp" class="dominios">
<p class="uk-text-center  uk-margin-large-top"><a href="https://softechost.com/"><button class="uk-button uk-button-danger uk-button-medium uk-border-pill uk-button-priary margin-large-top"><span uk-icon="icon: search; ratio: 1"></span>  ESCOLHER UM DOMÍNIO</button></a></p>
</div>


<!-- Vídeo  -->
<div class="uk-container">
  <h1 class="uk-heading-small uk-text-center uk-margin-large-top">Somos confiados por quem busca por Excelência</h1>
<h3 class="uk-text-center">Veja alguns casos de sucesso</h3>
</div>


<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
  <div>
      <div class="uk-background-muted uk-height-large uk-padding">

        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RV59FNE9a1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
  </div>

  <div>
      <div class="uk-background-muted uk-height-large uk-padding uk-light">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S5bJba9Awd4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
</div>

<!-- Nossos clientes -->


<div class="uk-container" style="padding-top: 24px;">
    <h3 class="uk-text-center">Conheça alguns dos nossos clientes</h3>
<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-medium-top" uk-grid>
  <div>
      <div class="uk-background uk-padding"><img class="uk-border-rounded" src="/assets/clientes/cliente-1.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-2.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-3.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-4.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-5.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-6.png" alt=""></div>
</div>



</div>

<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center " uk-grid>
  <div>
      <div class="uk-background uk-padding"><img src="/assets/clientes/cliente-7.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-8.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-9.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img  src="/assets/clientes/cliente-10.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-11.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-12.png" alt=""></div>
</div>
</div>

</div>


<!-- Nossos parceiros -->

<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-small-top" uk-grid>
  <div class=" uk-padding">
  <p class="uk-text-center texto">Faça a escolha mais acertada e junta-te à outras organizações que optaram pela excelência</p>
<p class="uk-text-center"><button routerLink="/contacto" class="uk-border-pill uk-button-danger uk-button-default uk-button-large">CONTRATE-NOS</button></p>
</div>
</div>




<app-footer></app-footer>
