.icone {
  color:red
}

.fundo {

  background-color: red;

}
.texto {
  color:black !important
}

.banner {
  width: 100%;
  height: auto;
  padding-top: 24px;
}


.dominios {

    display:inline-block;
    padding-left: 10%;
    padding-right: 10%;

}
