<nav class="uk-navbar-container">
  <div class="uk-container">
      <div uk-navbar>

          <div class="uk-navbar-left">

              <ul class="uk-navbar-nav">
                <a routerLink="/inicio" class="uk-navbar-item logo"><img src="assets/logos/fluxodigital-logo-red.png" alt="" class="logo"> </a>
                  <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Início</a></li>
                  <li><a routerLink="/servicos" >Serviços</a></li>
                  <li><a routerLink="/acerca">Acerca</a></li>
                  <li><a routerLink="/contacto">Contacto</a></li>
              </ul>

          </div>
          <div class="uk-navbar-right">

              <ul class="uk-navbar-nav">
                  <li><a href="#">Entrar</a>
                  </li>
              </ul>
          </div>

      </div>
  </div>
</nav>
