<nav class="uk-navbar-container">
  <div class="uk-container">
      <div uk-navbar>

          <div class="uk-navbar-left">

              <ul class="uk-navbar-nav">
                <a class="uk-navbar-item logo"><img src="assets/logos/fluxodigital-logo-red.png" class="logo"> </a>
                  <li><a href="#">Início</a></li>
                  <li><a href="#">Serviços</a></li>
                  <li><a href="#">Acerca</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>

          </div>
          <div class="uk-navbar-right">

              <ul class="uk-navbar-nav">
                  <li><a href="#">Entrar</a>
                  </li>
              </ul>
          </div>

      </div>
  </div>
</nav>
